### Import the necessary libraries

In [ ]:
import pandas as pd
import sqlalchemy as alch
#your code here

### Store your username and password for the database
You can choose to do this with getpass or with an environment variable.

In [2]:
#Your code here
#user 
#password
from getpass import getpass

In [3]:
password = getpass("Introduce tu contraseña del server mysql si es que la sabes ")

Introduce tu contraseña del server mysql si es que la sabes ········

### Establishes the connection to the database

In [4]:
#Your code here 
#dbName

#connectionData=f"mysql+pymysql://{user}:{password}@localhost/{dbName}"

db_name = "publications"
conec = f"mysql+pymysql://root:{password}@localhost/{db_name}"

### Remember to create the engine

In [5]:
#Your code here
#engine
engine = alch.create_engine(conec)

print("Connected to server!")

Connected to server!

## Challenge 1 - Who Have Published What At Where?
In this challenge you will write a MySQL `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

* `AUTHOR ID` - the ID of the author
* `LAST NAME` - author last name
* `FIRST NAME` - author first name
* `TITLE` - name of the published title
* `PUBLISHER` - name of the publisher where the title was published

In [16]:
challenge_1 = pd.read_sql_query(
"""
SELECT authors.au_id, au_fname, au_lname, titles.title_id,  publishers.pub_name
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id
INNER JOIN titles
ON titleauthor.title_id = titles.title_id
INNER JOIN publishers
ON titles.pub_id = publishers.pub_id;
""", engine
)

In [17]:
challenge_1.head()

         au_id  au_fname au_lname title_id        pub_name
0  213-46-8915  Marjorie    Green   BU2075  New Moon Books
1  899-46-2035      Anne   Ringer   PS2091  New Moon Books
2  998-72-3567    Albert   Ringer   PS2091  New Moon Books
3  998-72-3567    Albert   Ringer   PS2106  New Moon Books
4  172-32-1176   Johnson    White   PS3333  New Moon Books

In [11]:
challenge_1.head()

               pub_name  count_titles
0        New Moon Books             5
1      Binnet & Hardley             7
2  Algodata Infosystems             6

## Challenge 2 - Who Have Published How Many At Where?
More info in the readme.md

In [30]:
challenge_2 = pd.read_sql_query(

"""
SELECT authors.au_id, au_fname, au_lname, publishers.pub_name, COUNT(titles.title_id) AS count_titles 
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id
INNER JOIN titles
ON titleauthor.title_id = titles.title_id
INNER JOIN publishers
ON titles.pub_id = publishers.pub_id
GROUP BY authors.au_id;
""", engine
)
challenge_2.head()

OperationalError: (pymysql.err.OperationalError) (1055, "Expression #1 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'publications.authors.au_id' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")
[SQL:
SELECT authors.au_id, au_fname, au_lname, publishers.pub_name, COUNT(titles.title_id) AS count_titles
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id
INNER JOIN titles
ON titleauthor.title_id = titles.title_id
INNER JOIN publishers
ON titles.pub_id = publishers.pub_id
GROUP BY authors.au_fname;
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## Challenge 3 - Best Selling Authors
More info in the readme.md

In [31]:
challenge_3 = pd.read_sql_query(
"""
select authors.au_id,authors.au_lname,authors.au_fname, sum(qty) as sales
from authors
join titleauthor
on  titleauthor.au_id = authors.au_id
join titles
on  titles.title_id = titleauthor.title_id
join sales
on titles.title_id = sales.title_id
group by au_id

""", engine
)
challenge_3

          au_id        au_lname  au_fname  sales
0   213-46-8915           Green  Marjorie   50.0
1   409-56-7008          Bennet   Abraham   15.0
2   899-46-2035          Ringer      Anne  148.0
3   998-72-3567          Ringer    Albert  133.0
4   427-17-2319            Dull       Ann   50.0
5   846-92-7186          Hunter    Sheryl   50.0
6   807-91-6654        Panteley    Sylvia   40.0
7   648-92-1872  Blotchet-Halls  Reginald   20.0
8   267-41-2394         O'Leary   Michael   45.0
9   472-27-2349      Gringlesby      Burt   20.0
10  672-71-3249        Yokomoto     Akiko   20.0
11  722-51-5454        DeFrance    Michel   40.0
12  724-80-9391      MacFeather   Stearns   45.0
13  756-30-7391          Karsen     Livia   20.0
14  172-32-1176           White   Johnson   15.0
15  486-29-1786        Locksley  Charlene   25.0
16  274-80-9391        Straight      Dean   15.0
17  712-45-1867    del Castillo     Innes   10.0
18  238-95-7766          Carson    Cheryl   30.0

## Challenge 4 - Best Selling Authors Ranking
More info in the readme.md

In [32]:
challenge_4 = pd.read_sql_query(
"""
select authors.au_id,authors.au_lname,authors.au_fname, ifnull(sum(qty),0) as total
from authors
left join titleauthor
on  titleauthor.au_id = authors.au_id
left join titles
on  titles.title_id = titleauthor.title_id
left join sales
on titles.title_id = sales.title_id
group by au_id
order by total desc
""", engine
)
challenge_4

          au_id        au_lname     au_fname  total
0   899-46-2035          Ringer         Anne  148.0
1   998-72-3567          Ringer       Albert  133.0
2   213-46-8915           Green     Marjorie   50.0
3   427-17-2319            Dull          Ann   50.0
4   846-92-7186          Hunter       Sheryl   50.0
5   267-41-2394         O'Leary      Michael   45.0
6   724-80-9391      MacFeather      Stearns   45.0
7   722-51-5454        DeFrance       Michel   40.0
8   807-91-6654        Panteley       Sylvia   40.0
9   238-95-7766          Carson       Cheryl   30.0
10  486-29-1786        Locksley     Charlene   25.0
11  472-27-2349      Gringlesby         Burt   20.0
12  648-92-1872  Blotchet-Halls     Reginald   20.0
13  672-71-3249        Yokomoto        Akiko   20.0
14  756-30-7391          Karsen        Livia   20.0
15  172-32-1176           White      Johnson   15.0
16  274-80-9391        Straight         Dean   15.0
17  409-56-7008          Bennet      Abraham   15.0
18  712-45-1867    del Castillo        Innes   10.0
19  341-22-1782           Smith      Meander    0.0
20  527-72-3246          Greene  Morningstar    0.0
21  724-08-9931        Stringer         Dirk    0.0
22  893-72-1158        McBadden      Heather    0.0

## Bonus Challenge - Most Profiting Authors

In [34]:
challenge_5 = pd.read_sql_query(

"""
select authors.au_id,authors.au_lname,authors.au_fname, 
((ifnull(sum(sales.qty),0) * titles.price * (titles.royalty / 100) * (titleauthor.royaltyper/ 100)) + (titles.advance * (titleauthor.royaltyper/ 100))) as profits                                                        
from authors
left join titleauthor
on  titleauthor.au_id = authors.au_id
left join titles
on  titles.title_id = titleauthor.title_id
left join sales
on titles.title_id = sales.title_id
group by au_id
order by profits desc
limit 3
""", engine
)
challenge_5

OperationalError: (pymysql.err.OperationalError) (1055, "Expression #4 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'publications.titles.price' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")
[SQL:
select authors.au_id,authors.au_lname,authors.au_fname,
((ifnull(sum(sales.qty),0) * titles.price * (titles.royalty / 100) * (titleauthor.royaltyper/ 100)) + (titles.advance * (titleauthor.royaltyper/ 100))) as profits
from authors
left join titleauthor
on  titleauthor.au_id = authors.au_id
left join titles
on  titles.title_id = titleauthor.title_id
left join sales
on titles.title_id = sales.title_id
group by au_id
order by profits desc
limit 3
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)