### Import the necessary libraries

In [1]:
import pandas as pd
import sqlalchemy as alch

### Store your username and password for the database
You can choose to do this with getpass or with an environment variable.

In [2]:
from getpass import getpass

In [3]:
password = getpass("admin")

admin········

### Establishes the connection to the database

In [4]:
db_name = "publications"
connectionData = f"mysql+pymysql://root:{password}@localhost/{db_name}"
#connectionData=f"mysql+pymysql://{root}:{password}@localhost/{dbName}"

### Remember to create the engine

In [5]:
engine = alch.create_engine(connectionData)
print("Connected to server!")

Connected to server!

## Challenge 1 - Who Have Published What At Where?
In this challenge you will write a MySQL `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

* `AUTHOR ID` - the ID of the author
* `LAST NAME` - author last name
* `FIRST NAME` - author first name
* `TITLE` - name of the published title
* `PUBLISHER` - name of the publisher where the title was published

In [6]:
pd.read_sql_query(
"""
SELECT authors.au_id AS AuthorID, authors.au_lname AS Last_Name, authors.au_fname AS First_Name, titles.title AS Title, publishers.pub_name AS Publisher
FROM authors
INNER JOIN titleauthor ON authors.au_id = titleauthor.au_id
INNER JOIN titles ON titleauthor.title_id = titles.title_id
INNER JOIN publishers  ON publishers.pub_id = titles.pub_id
ORDER BY AuthorID ASC;
""", engine)

,AuthorID,Last_Name,First_Name,Title,Publisher
0,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
1,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
2,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
3,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
4,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
5,267-41-2394,O'Leary,Michael,"Sushi, Anyone?",Binnet & Hardley
6,274-80-9391,Straight,Dean,Straight Talk About Computers,Algodata Infosystems
7,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
8,427-17-2319,Dull,Ann,Secrets of Silicon Valley,Algodata Infosystems
9,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?",Binnet & Hardley
10,486-29-1786,Locksley,Charlene,Net Etiquette,Algodata Infosystems
11,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm,New Moon Books
12,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
13,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?",Binnet & Hardley
14,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats,Binnet & Hardley
15,722-51-5454,DeFrance,Michel,The Gourmet Microwave,Binnet & Hardley
16,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
17,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
18,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
19,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
20,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley,Algodata Infosystems
21,899-46-2035,Ringer,Anne,The Gourmet Microwave,Binnet & Hardley
22,899-46-2035,Ringer,Anne,Is Anger the Enemy?,New Moon Books
23,998-72-3567,Ringer,Albert,Is Anger the Enemy?,New Moon Books
24,998-72-3567,Ringer,Albert,Life Without Fear,New Moon Books

## Challenge 2 - Who Have Published How Many At Where?
More info in the readme.md

In [7]:
pd.read_sql_query(
"""
SELECT authors.au_id AS AuthorID, authors.au_lname AS Last_Name, authors.au_fname AS First_Name, COUNT(titles.title) AS Title, publishers.pub_name AS Publisher, COUNT(titles.title_id) AS TitleCount
FROM authors
INNER JOIN titleauthor ON authors.au_id = titleauthor.au_id
INNER JOIN titles ON titleauthor.title_id = titles.title_id
INNER JOIN publishers  ON publishers.pub_id = titles.pub_id
GROUP BY publishers.pub_name, authors.au_id
ORDER BY TitleCount DESC, AuthorID DESC, Publisher DESC;
""", engine)

,AuthorID,Last_Name,First_Name,Title,Publisher,TitleCount
0,998-72-3567,Ringer,Albert,2,New Moon Books,2
1,899-46-2035,Ringer,Anne,1,New Moon Books,1
2,899-46-2035,Ringer,Anne,1,Binnet & Hardley,1
3,846-92-7186,Hunter,Sheryl,1,Algodata Infosystems,1
4,807-91-6654,Panteley,Sylvia,1,Binnet & Hardley,1
5,756-30-7391,Karsen,Livia,1,Binnet & Hardley,1
6,724-80-9391,MacFeather,Stearns,1,Binnet & Hardley,1
7,724-80-9391,MacFeather,Stearns,1,Algodata Infosystems,1
8,722-51-5454,DeFrance,Michel,1,Binnet & Hardley,1
9,712-45-1867,del Castillo,Innes,1,Binnet & Hardley,1
10,672-71-3249,Yokomoto,Akiko,1,Binnet & Hardley,1
11,648-92-1872,Blotchet-Halls,Reginald,1,Binnet & Hardley,1
12,486-29-1786,Locksley,Charlene,1,New Moon Books,1
13,486-29-1786,Locksley,Charlene,1,Algodata Infosystems,1
14,472-27-2349,Gringlesby,Burt,1,Binnet & Hardley,1
15,427-17-2319,Dull,Ann,1,Algodata Infosystems,1
16,409-56-7008,Bennet,Abraham,1,Algodata Infosystems,1
17,274-80-9391,Straight,Dean,1,Algodata Infosystems,1
18,267-41-2394,O'Leary,Michael,1,Binnet & Hardley,1
19,267-41-2394,O'Leary,Michael,1,Algodata Infosystems,1
20,238-95-7766,Carson,Cheryl,1,Algodata Infosystems,1
21,213-46-8915,Green,Marjorie,1,New Moon Books,1
22,213-46-8915,Green,Marjorie,1,Algodata Infosystems,1
23,172-32-1176,White,Johnson,1,New Moon Books,1

## Challenge 3 - Best Selling Authors
More info in the readme.md

In [8]:
pd.read_sql_query(
"""
SELECT authors.au_id AS AuthorID, authors.au_lname AS Last_Name, authors.au_fname AS First_Name, SUM(s.qty) AS Total
FROM authors
INNER JOIN titleauthor ON authors.au_id = titleauthor.au_id
INNER JOIN sales ON sales.title_id = titleauthor.title_id
GROUP BY AuthorID
ORDER BY Total DESC, AuthorID DESC
LIMIT 3;
""", engine)

      AuthorID Last_Name First_Name  Total
0  899-46-2035    Ringer       Anne  148.0
1  998-72-3567    Ringer     Albert  133.0
2  846-92-7186    Hunter     Sheryl   50.0

## Challenge 4 - Best Selling Authors Ranking
More info in the readme.md

In [18]:
pd.read_sql_query(
"""
CREATE TEMPORARY TABLE publications.royalties_per_sale
SELECT ta.au_id AS AuthorID, s.title_id AS TitleID,
      (t.price * s.qty) * (t.royalty / 100) * (ta.royaltyper / 100) AS RoyaltyPerSale,
      t.advance * (ta.royaltyper / 100) AS AdvancePerTitleAndAuthor
FROM publications.sales s
INNER JOIN publications.titles t ON s.title_id = t.title_id
INNER JOIN publications.titleauthor ta ON t.title_id = ta.title_id;
""", engine)

OperationalError: (pymysql.err.OperationalError) (1050, "Table 'royalties_per_sale' already exists")
[SQL:
CREATE TEMPORARY TABLE publications.royalties_per_sale
SELECT ta.au_id AS AuthorID, s.title_id AS TitleID,
      (t.price * s.qty) * (t.royalty / 100) * (ta.royaltyper / 100) AS RoyaltyPerSale,
      t.advance * (ta.royaltyper / 100) AS AdvancePerTitleAndAuthor
FROM publications.sales s
INNER JOIN publications.titles t ON s.title_id = t.title_id
INNER JOIN publications.titleauthor ta ON t.title_id = ta.title_id;
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## Bonus Challenge - Most Profiting Authors

In [19]:
pd.read_sql_query(
"""
CREATE TEMPORARY TABLE royalties_per_sale
SELECT titleauthor.au_id AS AuthorID, 
       sales.title_id AS TitleID,
       (titles.price * sales.qty) * (titles.royalty / 100) * (titleauthor.royaltyper / 100) AS Royalty_Sale,
       titles.advance * (titleauthor.royaltyper / 100) AS Advance_TitleAuthor
FROM sales
INNER JOIN publications.titles ON sales.title_id = titles.title_id
INNER JOIN publications.titleauthor ON titles.title_id = titleauthor.title_id;
""", engine)

OperationalError: (pymysql.err.OperationalError) (1050, "Table 'royalties_per_sale' already exists")
[SQL:
CREATE TEMPORARY TABLE royalties_per_sale
SELECT titleauthor.au_id AS AuthorID,
       sales.title_id AS TitleID,
       (titles.price * sales.qty) * (titles.royalty / 100) * (titleauthor.royaltyper / 100) AS Royalty_Sale,
       titles.advance * (titleauthor.royaltyper / 100) AS Advance_TitleAuthor
FROM sales
INNER JOIN publications.titles ON sales.title_id = titles.title_id
INNER JOIN publications.titleauthor ON titles.title_id = titleauthor.title_id;
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)