### Import the necessary libraries

In [3]:
import pandas as pd
import sqlalchemy as alch
from getpass import getpass
#your code here

### Store your username and password for the database
You can choose to do this with getpass or with an environment variable.

In [4]:
#Your code here
password = getpass("Introduce tu contraseña del server mysql si es que la sabes ")
#user 
#password

Introduce tu contraseña del server mysql si es que la sabes  ···········

### Establishes the connection to the database

In [5]:
#Your code here 
#dbName
db_name = "publications"
conec = f"mysql+pymysql://root:{password}@localhost/{db_name}"
#connectionData=f"mysql+pymysql://{user}:{password}@localhost/{dbName}"

### Remember to create the engine

In [6]:
#Your code here
#engine
engine = alch.create_engine(conec)
print("Connected to server!")

Connected to server!

## Challenge 1 - Who Have Published What At Where?
In this challenge you will write a MySQL `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

* `AUTHOR ID` - the ID of the author
* `LAST NAME` - author last name
* `FIRST NAME` - author first name
* `TITLE` - name of the published title
* `PUBLISHER` - name of the publisher where the title was published

In [13]:
challenge_1 = pd.read_sql_query(
"""
select authors.au_id,authors.au_lname,authors.au_fname,titles.title,publishers.pub_name
from authors
join titleauthor
on  titleauthor.au_id = authors.au_id
join titles
on  titles.title_id = titleauthor.title_id
join publishers
on  titles.pub_id = publishers.pub_id
""", engine
)
challenge_1

,au_id,au_lname,au_fname,title,pub_name
0,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
1,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
2,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
3,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
4,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books
5,274-80-9391,Straight,Dean,Straight Talk About Computers,Algodata Infosystems
6,712-45-1867,del Castillo,Innes,Silicon Valley Gastronomic Treats,Binnet & Hardley
7,722-51-5454,DeFrance,Michel,The Gourmet Microwave,Binnet & Hardley
8,899-46-2035,Ringer,Anne,The Gourmet Microwave,Binnet & Hardley
9,238-95-7766,Carson,Cheryl,But Is It User Friendly?,Algodata Infosystems
10,427-17-2319,Dull,Ann,Secrets of Silicon Valley,Algodata Infosystems
11,846-92-7186,Hunter,Sheryl,Secrets of Silicon Valley,Algodata Infosystems
12,486-29-1786,Locksley,Charlene,Net Etiquette,Algodata Infosystems
13,724-80-9391,MacFeather,Stearns,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
14,756-30-7391,Karsen,Livia,Computer Phobic AND Non-Phobic Individuals: Be...,Binnet & Hardley
15,899-46-2035,Ringer,Anne,Is Anger the Enemy?,New Moon Books
16,998-72-3567,Ringer,Albert,Is Anger the Enemy?,New Moon Books
17,998-72-3567,Ringer,Albert,Life Without Fear,New Moon Books
18,172-32-1176,White,Johnson,Prolonged Data Deprivation: Four Case Studies,New Moon Books
19,486-29-1786,Locksley,Charlene,Emotional Security: A New Algorithm,New Moon Books
20,807-91-6654,Panteley,Sylvia,"Onions, Leeks, and Garlic: Cooking Secrets of ...",Binnet & Hardley
21,648-92-1872,Blotchet-Halls,Reginald,Fifty Years in Buckingham Palace Kitchens,Binnet & Hardley
22,267-41-2394,O'Leary,Michael,"Sushi, Anyone?",Binnet & Hardley
23,472-27-2349,Gringlesby,Burt,"Sushi, Anyone?",Binnet & Hardley
24,672-71-3249,Yokomoto,Akiko,"Sushi, Anyone?",Binnet & Hardley

## Challenge 2 - Who Have Published How Many At Where?
More info in the readme.md

In [24]:
challenge_2 = pd.read_sql_query(
"""
select authors.au_id,authors.au_lname,authors.au_fname,count(titles.title) as pub_books,publishers.pub_name
from authors
join titleauthor
on  titleauthor.au_id = authors.au_id
join titles
on  titles.title_id = titleauthor.title_id
join publishers
on  titles.pub_id = publishers.pub_id
group by au_id
""", engine
)
challenge_2

          au_id        au_lname  au_fname  pub_books              pub_name
0   213-46-8915           Green  Marjorie          2  Algodata Infosystems
1   409-56-7008          Bennet   Abraham          1  Algodata Infosystems
2   267-41-2394         O'Leary   Michael          2  Algodata Infosystems
3   724-80-9391      MacFeather   Stearns          2  Algodata Infosystems
4   274-80-9391        Straight      Dean          1  Algodata Infosystems
5   712-45-1867    del Castillo     Innes          1      Binnet & Hardley
6   722-51-5454        DeFrance    Michel          1      Binnet & Hardley
7   899-46-2035          Ringer      Anne          2      Binnet & Hardley
8   238-95-7766          Carson    Cheryl          1  Algodata Infosystems
9   427-17-2319            Dull       Ann          1  Algodata Infosystems
10  846-92-7186          Hunter    Sheryl          1  Algodata Infosystems
11  486-29-1786        Locksley  Charlene          2  Algodata Infosystems
12  756-30-7391          Karsen     Livia          1      Binnet & Hardley
13  998-72-3567          Ringer    Albert          2        New Moon Books
14  172-32-1176           White   Johnson          1        New Moon Books
15  807-91-6654        Panteley    Sylvia          1      Binnet & Hardley
16  648-92-1872  Blotchet-Halls  Reginald          1      Binnet & Hardley
17  472-27-2349      Gringlesby      Burt          1      Binnet & Hardley
18  672-71-3249        Yokomoto     Akiko          1      Binnet & Hardley

## Challenge 3 - Best Selling Authors
More info in the readme.md

In [15]:
challenge_3 = pd.read_sql_query(
"""
select authors.au_id,authors.au_lname,authors.au_fname, sum(qty) as sales
from authors
join titleauthor
on  titleauthor.au_id = authors.au_id
join titles
on  titles.title_id = titleauthor.title_id
join sales
on titles.title_id = sales.title_id
group by au_id
order by sales desc
limit 3
""", engine
)
challenge_3

         au_id au_lname  au_fname  sales
0  899-46-2035   Ringer      Anne  148.0
1  998-72-3567   Ringer    Albert  133.0
2  213-46-8915    Green  Marjorie   50.0

## Challenge 4 - Best Selling Authors Ranking
More info in the readme.md

In [20]:
challenge_4 = pd.read_sql_query(
"""
select authors.au_id,authors.au_lname,authors.au_fname, ifnull(sum(qty),0) as total
from authors
left join titleauthor
on  titleauthor.au_id = authors.au_id
left join titles
on  titles.title_id = titleauthor.title_id
left join sales
on titles.title_id = sales.title_id
group by au_id
order by total desc
limit 23
""", engine
)
challenge_4

          au_id        au_lname     au_fname  total
0   899-46-2035          Ringer         Anne  148.0
1   998-72-3567          Ringer       Albert  133.0
2   213-46-8915           Green     Marjorie   50.0
3   427-17-2319            Dull          Ann   50.0
4   846-92-7186          Hunter       Sheryl   50.0
5   267-41-2394         O'Leary      Michael   45.0
6   724-80-9391      MacFeather      Stearns   45.0
7   722-51-5454        DeFrance       Michel   40.0
8   807-91-6654        Panteley       Sylvia   40.0
9   238-95-7766          Carson       Cheryl   30.0
10  486-29-1786        Locksley     Charlene   25.0
11  472-27-2349      Gringlesby         Burt   20.0
12  648-92-1872  Blotchet-Halls     Reginald   20.0
13  672-71-3249        Yokomoto        Akiko   20.0
14  756-30-7391          Karsen        Livia   20.0
15  172-32-1176           White      Johnson   15.0
16  274-80-9391        Straight         Dean   15.0
17  409-56-7008          Bennet      Abraham   15.0
18  712-45-1867    del Castillo        Innes   10.0
19  341-22-1782           Smith      Meander    0.0
20  527-72-3246          Greene  Morningstar    0.0
21  724-08-9931        Stringer         Dirk    0.0
22  893-72-1158        McBadden      Heather    0.0

## Bonus Challenge - Most Profiting Authors

In [26]:
challenge_4 = pd.read_sql_query(
"""
select authors.au_id,authors.au_lname,authors.au_fname, 
((ifnull(sum(sales.qty),0) * titles.price * (titles.royalty / 100) * (titleauthor.royaltyper/ 100)) + (titles.advance * (titleauthor.royaltyper/ 100))) as profits                                                        
from authors
left join titleauthor
on  titleauthor.au_id = authors.au_id
left join titles
on  titles.title_id = titleauthor.title_id
left join sales
on titles.title_id = sales.title_id
group by au_id
order by profits desc
limit 3
""", engine
)
challenge_4

         au_id  au_lname au_fname    profits
0  722-51-5454  DeFrance   Michel  11271.528
1  238-95-7766    Carson   Cheryl   7110.160
2  807-91-6654  Panteley   Sylvia   7083.800