### Import the necessary libraries

In [6]:
import pandas as pd
import sqlalchemy as alch
#your code here

### Store your username and password for the database
You can choose to do this with getpass or with an environment variable.

In [7]:
from getpass import getpass

In [8]:
password = getpass("Introduce tu contraseña del server mysql si es que la sabes ")

Introduce tu contraseña del server mysql si es que la sabes ········

### Establishes the connection to the database

In [9]:
db_name = "publications"
conec = f"mysql+pymysql://root:{password}@localhost/{db_name}"

### Remember to create the engine

In [10]:
engine = alch.create_engine(conec)
print("Connected to server!")

Connected to server!

## Challenge 1 - Who Have Published What At Where?
In this challenge you will write a MySQL `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

* `AUTHOR ID` - the ID of the author
* `LAST NAME` - author last name
* `FIRST NAME` - author first name
* `TITLE` - name of the published title
* `PUBLISHER` - name of the publisher where the title was published

In [13]:
Author_query = pd.read_sql_query(
"""
SELECT au_lname,au_fname, authors.au_id, publishers.pub_name, titles.title
FROM authors
INNER JOIN titleauthor
ON authors.au_id = titleauthor.au_id
INNER JOIN titles
ON titleauthor.title_id = titles.title_id
INNER JOIN publishers
ON titles.pub_id = publishers.pub_id;
""", engine
)

In [14]:
Author_query

,au_lname,au_fname,au_id,pub_name,title
0,Green,Marjorie,213-46-8915,Algodata Infosystems,The Busy Executive's Database Guide
1,Bennet,Abraham,409-56-7008,Algodata Infosystems,The Busy Executive's Database Guide
2,O'Leary,Michael,267-41-2394,Algodata Infosystems,Cooking with Computers: Surreptitious Balance ...
3,MacFeather,Stearns,724-80-9391,Algodata Infosystems,Cooking with Computers: Surreptitious Balance ...
4,Green,Marjorie,213-46-8915,New Moon Books,You Can Combat Computer Stress!
5,Straight,Dean,274-80-9391,Algodata Infosystems,Straight Talk About Computers
6,del Castillo,Innes,712-45-1867,Binnet & Hardley,Silicon Valley Gastronomic Treats
7,DeFrance,Michel,722-51-5454,Binnet & Hardley,The Gourmet Microwave
8,Ringer,Anne,899-46-2035,Binnet & Hardley,The Gourmet Microwave
9,Carson,Cheryl,238-95-7766,Algodata Infosystems,But Is It User Friendly?
10,Dull,Ann,427-17-2319,Algodata Infosystems,Secrets of Silicon Valley
11,Hunter,Sheryl,846-92-7186,Algodata Infosystems,Secrets of Silicon Valley
12,Locksley,Charlene,486-29-1786,Algodata Infosystems,Net Etiquette
13,MacFeather,Stearns,724-80-9391,Binnet & Hardley,Computer Phobic AND Non-Phobic Individuals: Be...
14,Karsen,Livia,756-30-7391,Binnet & Hardley,Computer Phobic AND Non-Phobic Individuals: Be...
15,Ringer,Anne,899-46-2035,New Moon Books,Is Anger the Enemy?
16,Ringer,Albert,998-72-3567,New Moon Books,Is Anger the Enemy?
17,Ringer,Albert,998-72-3567,New Moon Books,Life Without Fear
18,White,Johnson,172-32-1176,New Moon Books,Prolonged Data Deprivation: Four Case Studies
19,Locksley,Charlene,486-29-1786,New Moon Books,Emotional Security: A New Algorithm
20,Panteley,Sylvia,807-91-6654,Binnet & Hardley,"Onions, Leeks, and Garlic: Cooking Secrets of ..."
21,Blotchet-Halls,Reginald,648-92-1872,Binnet & Hardley,Fifty Years in Buckingham Palace Kitchens
22,O'Leary,Michael,267-41-2394,Binnet & Hardley,"Sushi, Anyone?"
23,Gringlesby,Burt,472-27-2349,Binnet & Hardley,"Sushi, Anyone?"
24,Yokomoto,Akiko,672-71-3249,Binnet & Hardley,"Sushi, Anyone?"

## Challenge 2 - Who Have Published How Many At Where?
More info in the readme.md

In [15]:
Query_2 =pd.read_sql_query(
"""
SELECT CONCAT(au_lname,' ',au_fname) AS full_name, authors.au_id, publishers.pub_name, titles.title, COUNT(titles.title)
FROM authors
INNER JOIN titleauthor
ON authors.au_id = titleauthor.au_id
INNER JOIN titles
ON titleauthor.title_id = titles.title_id
INNER JOIN publishers
ON titles.pub_id = publishers.pub_id
GROUP BY authors.au_id
""", engine
)

In [16]:
Query_2

,full_name,au_id,pub_name,title,COUNT(titles.title)
0,Green Marjorie,213-46-8915,Algodata Infosystems,The Busy Executive's Database Guide,2
1,Bennet Abraham,409-56-7008,Algodata Infosystems,The Busy Executive's Database Guide,1
2,O'Leary Michael,267-41-2394,Algodata Infosystems,Cooking with Computers: Surreptitious Balance ...,2
3,MacFeather Stearns,724-80-9391,Algodata Infosystems,Cooking with Computers: Surreptitious Balance ...,2
4,Straight Dean,274-80-9391,Algodata Infosystems,Straight Talk About Computers,1
5,del Castillo Innes,712-45-1867,Binnet & Hardley,Silicon Valley Gastronomic Treats,1
6,DeFrance Michel,722-51-5454,Binnet & Hardley,The Gourmet Microwave,1
7,Ringer Anne,899-46-2035,Binnet & Hardley,The Gourmet Microwave,2
8,Carson Cheryl,238-95-7766,Algodata Infosystems,But Is It User Friendly?,1
9,Dull Ann,427-17-2319,Algodata Infosystems,Secrets of Silicon Valley,1
10,Hunter Sheryl,846-92-7186,Algodata Infosystems,Secrets of Silicon Valley,1
11,Locksley Charlene,486-29-1786,Algodata Infosystems,Net Etiquette,2
12,Karsen Livia,756-30-7391,Binnet & Hardley,Computer Phobic AND Non-Phobic Individuals: Be...,1
13,Ringer Albert,998-72-3567,New Moon Books,Is Anger the Enemy?,2
14,White Johnson,172-32-1176,New Moon Books,Prolonged Data Deprivation: Four Case Studies,1
15,Panteley Sylvia,807-91-6654,Binnet & Hardley,"Onions, Leeks, and Garlic: Cooking Secrets of ...",1
16,Blotchet-Halls Reginald,648-92-1872,Binnet & Hardley,Fifty Years in Buckingham Palace Kitchens,1
17,Gringlesby Burt,472-27-2349,Binnet & Hardley,"Sushi, Anyone?",1
18,Yokomoto Akiko,672-71-3249,Binnet & Hardley,"Sushi, Anyone?",1

## Challenge 3 - Best Selling Authors
More info in the readme.md

In [29]:
Query_3 =pd.read_sql_query(
"""
SELECT CONCAT(au_lname,' ',au_fname) AS full_name, authors.au_id, titles.title, SUM(sales.qty)
FROM authors
INNER JOIN titleauthor
ON authors.au_id = titleauthor.au_id
INNER JOIN titles
ON titleauthor.title_id = titles.title_id
INNER JOIN sales
ON sales.title_id = titles.title_id
GROUP BY au_id
ORDER BY SUM(sales.qty) DESC
LIMIT 3;
""",engine
)

In [30]:
Query_3

,full_name,au_id,title,SUM(sales.qty)
0,Ringer Anne,899-46-2035,Is Anger the Enemy?,148.0
1,Ringer Albert,998-72-3567,Is Anger the Enemy?,133.0
2,Green Marjorie,213-46-8915,The Busy Executive's Database Guide,50.0

## Challenge 4 - Best Selling Authors Ranking
More info in the readme.md

In [31]:
QUERY_4 =pd.read_sql_query(
"""
SELECT CONCAT(au_lname,' ',au_fname) AS full_name, authors.au_id, titles.title, SUM(sales.qty)
FROM authors
LEFT JOIN titleauthor
ON authors.au_id = titleauthor.au_id
LEFT JOIN titles
ON titleauthor.title_id = titles.title_id
LEFT JOIN sales
ON sales.title_id = titles.title_id
GROUP BY au_id
ORDER BY SUM(sales.qty) DESC
""",engine
)

In [32]:
QUERY_4

,full_name,au_id,title,SUM(sales.qty)
0,Ringer Anne,899-46-2035,The Gourmet Microwave,148.0
1,Ringer Albert,998-72-3567,Is Anger the Enemy?,133.0
2,Green Marjorie,213-46-8915,The Busy Executive's Database Guide,50.0
3,Dull Ann,427-17-2319,Secrets of Silicon Valley,50.0
4,Hunter Sheryl,846-92-7186,Secrets of Silicon Valley,50.0
5,O'Leary Michael,267-41-2394,Cooking with Computers: Surreptitious Balance ...,45.0
6,MacFeather Stearns,724-80-9391,Cooking with Computers: Surreptitious Balance ...,45.0
7,DeFrance Michel,722-51-5454,The Gourmet Microwave,40.0
8,Panteley Sylvia,807-91-6654,"Onions, Leeks, and Garlic: Cooking Secrets of ...",40.0
9,Carson Cheryl,238-95-7766,But Is It User Friendly?,30.0
10,Locksley Charlene,486-29-1786,Net Etiquette,25.0
11,Gringlesby Burt,472-27-2349,"Sushi, Anyone?",20.0
12,Blotchet-Halls Reginald,648-92-1872,Fifty Years in Buckingham Palace Kitchens,20.0
13,Yokomoto Akiko,672-71-3249,"Sushi, Anyone?",20.0
14,Karsen Livia,756-30-7391,Computer Phobic AND Non-Phobic Individuals: Be...,20.0
15,White Johnson,172-32-1176,Prolonged Data Deprivation: Four Case Studies,15.0
16,Straight Dean,274-80-9391,Straight Talk About Computers,15.0
17,Bennet Abraham,409-56-7008,The Busy Executive's Database Guide,15.0
18,del Castillo Innes,712-45-1867,Silicon Valley Gastronomic Treats,10.0
19,Smith Meander,341-22-1782,None,NaN
20,Greene Morningstar,527-72-3246,None,NaN
21,Stringer Dirk,724-08-9931,None,NaN
22,McBadden Heather,893-72-1158,None,NaN

## Bonus Challenge - Most Profiting Authors