### Import the necessary libraries

In [1]:
import pandas as pd
import sqlalchemy as alch
#your code here

### Store your username and password for the database
You can choose to do this with getpass or with an environment variable.

In [2]:
#Your code here
from getpass import getpass

In [3]:
password = getpass("password")

#user 
#password

password········

### Establishes the connection to the database

In [4]:
#Your code here 

db_name = "publications"
conec = f"mysql+pymysql://root:{password}@localhost/{db_name}"

#connectionData=f"mysql+pymysql://{user}:{password}@localhost/{dbName}"

### Remember to create the engine

In [5]:
#Your code here
#engine
engine = alch.create_engine(conec)

print("Connected to server!")

Connected to server!

## Challenge 1 - Who Have Published What At Where?
In this challenge you will write a MySQL `SELECT` query that joins various tables to figure out what titles each author has published at which publishers. Your output should have at least the following columns:

* `AUTHOR ID` - the ID of the author
* `LAST NAME` - author last name
* `FIRST NAME` - author first name
* `TITLE` - name of the published title
* `PUBLISHER` - name of the publisher where the title was published

In [6]:

a = pd.read_sql_query(
"""
SELECT authors.au_id, au_lname,au_fname, title, pub_name 
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id 
INNER JOIN titles
ON titleauthor.title_id = titles.title_id
INNER JOIN publishers
ON publishers.pub_id = titles.pub_id;
""", engine
)

In [7]:
a.shape

(25, 5)

In [8]:
a.head()

,au_id,au_lname,au_fname,title,pub_name
0,213-46-8915,Green,Marjorie,The Busy Executive's Database Guide,Algodata Infosystems
1,409-56-7008,Bennet,Abraham,The Busy Executive's Database Guide,Algodata Infosystems
2,267-41-2394,O'Leary,Michael,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
3,724-80-9391,MacFeather,Stearns,Cooking with Computers: Surreptitious Balance ...,Algodata Infosystems
4,213-46-8915,Green,Marjorie,You Can Combat Computer Stress!,New Moon Books

## Challenge 2 - Who Have Published How Many At Where?
More info in the readme.md

In [16]:
b = pd.read_sql_query(
"""
SELECT authors.au_id, au_lname, au_fname, pub_name, COUNT(titles.title) AS title_count 
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id 
INNER JOIN titles
ON titleauthor.title_id = titles.title_id
INNER JOIN publishers
ON publishers.pub_id = titles.pub_id
GROUP BY au_id;
""", engine
)

OperationalError: (pymysql.err.OperationalError) (1055, "Expression #4 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'publications.publishers.pub_name' which is not functionally dependent on columns in GROUP BY clause; this is incompatible with sql_mode=only_full_group_by")
[SQL:
SELECT authors.au_id, au_lname, au_fname, pub_name, COUNT(titles.title) AS title_count
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id
INNER JOIN titles
ON titleauthor.title_id = titles.title_id
INNER JOIN publishers
ON publishers.pub_id = titles.pub_id
GROUP BY au_id;
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

## Challenge 3 - Best Selling Authors
More info in the readme.md

In [9]:
c = pd.read_sql_query(
"""
SELECT authors.au_id, au_lname,au_fname, COUNT(titles.title_id) AS title_count 
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id 
INNER JOIN titles
ON titleauthor.title_id = titles.title_id
GROUP BY title_count DESC;
""", engine
).head(3)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'DESC' at line 7")
[SQL:
SELECT authors.au_id, au_lname,au_fname, COUNT(titles.title_id) AS title_count
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id
INNER JOIN titles
ON titleauthor.title_id = titles.title_id
GROUP BY title_count DESC;
]
(Background on this error at: https://sqlalche.me/e/14/f405)

## Challenge 4 - Best Selling Authors Ranking
More info in the readme.md

In [ ]:
c = pd.read_sql_query(
"""
SELECT authors.au_id, au_lname,au_fname, COUNT(titles.title_id) AS title_count 
FROM authors
INNER JOIN titleauthor
ON titleauthor.au_id = authors.au_id 
INNER JOIN titles
ON titleauthor.title_id = titles.title_id
GROUP BY title_count DESC;
""", engine
).head()

## Bonus Challenge - Most Profiting Authors